@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
} */

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
    width: 8px;
    height: 0;
}
::-webkit-scrollbar-track {
    background: #a8a8a8;
    border-radius: 10px;
    height: 100%;
}
::-webkit-scrollbar-thumb {
    background: #5a5a5a;
    opacity: 1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #7c7c7c;
}
