@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
    height: 0;
}
::-webkit-scrollbar-track {
    background: #a8a8a8;
    border-radius: 10px;
    height: 100%;
}
::-webkit-scrollbar-thumb {
    background: #5a5a5a;
    opacity: 1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #7c7c7c;
}
